@{
    ViewData["Title"] = "About Me";
}
<h1>@ViewData["Title"]</h1>

<p>My name is Vince Hedric Sta.Maria De Guzman</p>
<p>Currenty residing at Real de Cacarong, Pandi, Bulacan</p>
<p>Taking BS Computer Science at College of Mary Immaculate</p>
