@{
    ViewData["Title"] = "Home Page";
}

<div class = "text-center">
    <h1 class="display-4">Information Website</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <table>
        <tr>
            <th>No. </th>
            <th>Favorite Fruit</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Mango</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Apple</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Banana</td>
        </tr>
    </table>

    <form>
        <label for = "subject">Subject:</label>
        <input type = "text" id = "subject" name = "subject" placeholder = "subject" /></br>

        
        <input type = "checkbox" name = "Lovingly Yours St." id = "street1" />
        <label for = "street1">Lovingly Yours St.</label><

        <input type = "checkbox" name = "Pasong Kalabaw St." id = "street2" />
        <label for = "street2"">Pasong Kalabaw St.</label>

        <input type = "checkbox" name = "Mitay St." id = "street3" />
        <label for = "street3"">Mitay St..</label></br>

        <label for = "comment">About yourself: </label></br>
        <textarea id = "comment" rows = "4" cols = "50" placeholder = "Comment about yourself"></textarea></br>
    </form>

    <h3>Favorite Songs</h3>
    <ul>
        <li>Blue Moon - Orange and Lemons</li>
        <li>Just Like a Splendid Love Song - Orange and Lemons</li>
        <li>Your Universe - Rico Blanco</li>
        <li>Balisong - Rico Blanco</li>
        <li>241 -  Rivermaya</li>
        <li>Burnout - Sugarfree</li>
    </ul>
</div>